*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}

#main-background{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

#main-background video.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
   
}

#logo img{
    height: 59vh;
    width:35vw ;
    
}

#outline-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#outline-text .outline-text-1{
    
    text-transform: uppercase;
    overflow: hidden;
    height: 11.8vh; 
    font-size: 150px;
    font-weight: 900;
   -webkit-text-stroke: 2px white;
    color: transparent;
   margin-top: -85px;
    
}
#outline-text .outline-text-2{
    text-transform: uppercase;
    overflow: hidden;
    height:15vh; 
    font-size: 150px;
    font-weight: 900;
   -webkit-text-stroke: 2px white;
    color: transparent;
    margin-top: -55px;

}
#outline-text .outline-text-3{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    margin-top: -55px;
}

#canvas{
  padding: 0 15vw;
}
#canvas .canvas-image{
    display: flex;
    align-items: center;
    justify-content: center;
  
}


#canvas video.canvas-video{
    height: 70vh;
    width: 25vw;
    border: 1px solid white;
    object-fit: cover;
}

#canvas .canvas-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 0vh;
 
}

#canvas .canvas-text img.text-image{
    height: 20vh;
    width: 100%;
    border: 1px solid white;
    object-fit: cover;
}
#canvas .canvas-text .text-content{
    height: 45vh;
    overflow-y:scroll ;
   

   
}
#canvas .canvas-text .text-content p{
    text-align: justify;
}

#artwork{
 padding: 0 15vw;
  
    

}

#artwork .poster{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#artwork .artwork-image{
    width: 25vw;
    height: 45vh;
    margin: 5vh 0;
    border: 1px solid white;
}

#artwork .poster p{
    width: 25vw;
    text-align: justify;
    overflow-y: scroll;
    
   
}

#artwork .poster h1{
    font-size: 70px;
    font-weight: 900;
}


#artwork .spotify-embed iframe{
    height: 77vh;
    margin-top: 5vh;
}